{% extends 'activities/base.html' %}

{% block contenido %}

{% load crispy_forms_tags %}
<h1>Actividad 1 - Integracion a la vida Universitaria</h1>

<div class="container m-4">
    <div class="row">
        
<!----Seccion 1-->
        <div class="col-md-6">
            <!-- Columna izquierda -->
            <form action="" class="form_eduprog">
                {% csrf_token %}
                <h2>Programa Educativo</h2>
                <p>Enumera en orden de importancia ¿Qué significa para ti haber ingresado a CUCEI? siendo el 1 el menos importante y el 6 el de mayor</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Recomendaciones</td>
                            {% for radio in form.Recomendacion %}
                            <td>{{radio.tag}}</td>
                                {% endfor %}
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td>Plan de Estudios</td>
                            {% for radio in form.Plan_de_Estudios %}
                            <td>{{radio.tag}}</td>
                            {% endfor %}
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td>Planta Academica</td>
                            {% for radio in form.Planta_Academica %}
                            <td>{{radio.tag}}</td>
                            {% endfor %}
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td>Instalaciones</td>
                            {% for radio in form.Instalaciones %}
                            <td>{{radio.tag}}</td>
                            {% endfor %}
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td>Costos</td>
                            {% for radio in form.Costos %}
                            <td>{{radio.tag}}</td>
                            {% endfor %}
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td>Horarios</td>
                            {% for radio in form.Horarios %}
                            <td>{{radio.tag}}</td>
                            {% endfor %}
                        </tr>
                    </tbody>


                </table>

                <div class="form-group">
                    <label class="pb-2">Realizas actividades culturales o recreativas?</label>
                    {{ form.cinema | as_crispy_field }}
                    {{ form.museum | as_crispy_field }}
                    {{ form.reading | as_crispy_field }}
                    {{ form.cultural_fairs | as_crispy_field }}
                    {{ form.sports | as_crispy_field }}
                    {{ form.others | as_crispy_field }}
                    {{ form.others_description | as_crispy_field }}
                </div>
<!---Seccion 1 preguntas radio button-->
                <p>Enumera en orden de importancia las razones que te motivaron a estudiar una carrera universitaria, siendo el 1 el de menos importancia y el 6 el de mayor</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Prestigio de la Institucion</td>
                            {% for radio in form.Prestigio_Institucion %}
                            <td>{{radio.tag}}</td>
                                {% endfor %}
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td>Reconocimiento social y familiar</td>
                            {% for radio in form.Reconocimiento_social %}
                            <td>{{radio.tag}}</td>
                                {% endfor %}
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td>Superación personal</td>
                            {% for radio in form.Superacion_personal %}
                            <td>{{radio.tag}}</td>
                                {% endfor %}
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td>Actualización de mi campo laboral</td>
                            {% for radio in form.Actualizacion_campo %}
                            <td>{{radio.tag}}</td>
                            {% endfor %}
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td>Movilidad laboral y de ingresos</td>
                            {% for radio in form.Movilidad_laboral_e_ingresos %}
                            <td>{{radio.tag}}</td>
                            {% endfor %}
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td>Las empresas solicitan grado ácademico</td>
                            {% for radio in form.Empresas_solicitan_grado_academico %}
                            <td>{{radio.tag}}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
<!----Seccion empleo-->
                <h2>Empleo e Ingresos</h2>
                <div class="form-group">
                    <label class="pb-2">¿Trabajas actualmente?</label>
                    {{ form.TrabajoActual | as_crispy_field }}
                </div>
                <h2>Específicos del trabajo</h2>
                <div class="form-group">
                    <label class="pb-2">¿Tu trabajo actual esta relacionado con la carrera que estudias?</label>
                    {{ form.TrabajoRelacionadoCarrera | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Cuantas horas trabajas a la semana?</label>
                    {{ form.HorasTrabajadasSemana | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">Por favor, indica a cuánto asciende tu ingreso mensual aproximadamente si trabajas: </label>
                    {{ form.IngresoMensualTrabajo | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">Señala que tan importante es tu aportación económica en tu hogar a partir de la siguiente escala: </label>
                    <label class="pb-2">Nada o poco importante</label>
                    {{ form.AportacionEconomicaImportancia | as_crispy_field }}
                    <label class="pb-2">Muy importante</label>
                </div>
<!----Seccion Vivienda-->
                <h2>Vivienda</h2>
                <div class="form-group">
                    <label class="pb-2">En tu hogar donde vives actualmente, ¿Quién es la persona responsable del mayor aporte económico? </label>
                    {{ form.responsable_ecnm | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Con quién vives actualmente? </label>
                    {{ form.viveAct | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Recibes algún apoyo económico? (como becas, subsidio, etc)</label>
                    {{ form.apoyo_economico | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Eres foráneo? (Si la respuesta es "Si" especifica de que estado procedes)</label>
                    {{ form.is_foraneo | as_crispy_field }}
                </div>
<!----Seccion Tiempos Traslado-->
                <h2>Tiempos de traslado</h2>
                <div class="form-group">
                    <label class="pb-2">¿Qué medio de transporte utilizas regularmente para trasladarte a CUCEI?</label>
                    {{ form.medio_trns | as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.otro_trns | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Cuánto tiempo aproximadamente te toma llegar diario a CUCEI desde tu casa?</label>
                    {{ form.timetransport | as_crispy_field }}
                </div>
<!----Seccion Pueblos originarios-->
                <h2>Descripción sobre pueblos originarios</h2>
                <div class="form-group">
                    <label class="pb-2">¿Pertenece a una comunidad originaria? SI la respuesta es "Si" específica cual </label>
                    {{ form.comunidad | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Hablas alguna lengua originaria?, de ser afirmativa la respuesta, específica cual</label>
                    {{ form.lengua | as_crispy_field }}
                </div>
<!----Seccion Perfil Personal-->
                <h2>Perfil personal</h2>
                <div class="form-group">
                    <label class="pb-2">¿Perteneces a una comunidad LGBTTTIQ+?</label>
                    {{ form.comunidadlgbt | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">Identidad de Genéro</label>
                    {{ form.identidadGen | as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.other_identidad | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Tienes hijos?</label>
                    {{ form.hijos | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Están a tu cuidado hijos u otros menores?</label>
                    {{ form.hijoscuidado | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Cuidas de una persona en edad avanzada, enfermo o con capacidades diferentes?</label>
                    {{ form.avanzcuidado | as_crispy_field }}
                </div>
<!----Seccion 7 Discapacidades-->
                <h2>Discapacidades</h2>
                <div class="form-group">
                    <label class="pb-2">¿Tienes alguna discapacidad?</label>
                    {{ form.es_discapacidad | as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.tipod | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Usas o necesitas algún tipo de dispositivos de asistencia? Por ejemplo: silla de ruedas, bastones, muletas, prótesis, audífonos, etc.</label>
                    {{ form.dispositivo_d | as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.tipodispositivod | as_crispy_field }}
                </div>
<!----Seccion 8 Neurodiversidad-->
                <h2>Neurodiversidad</h2>
                <div class="form-group">
                    <label class="pb-2">¿Consideras que te encuentras en una de las siguientes condiciones de neurodiversidad? :</label>
                    {{ form.tipoNeurodiversidad | as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.otrotipo_neuro | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Tienes diágnostico de un médico?</label>
                    {{ form.diagnostico | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">En caso de haber contestado SI a la pregunta anterior, ¿Estás en tratamiento?</label>
                    {{ form.tratamiento | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Presentas alguna de las siguientes condiciones? (Puedes marcar mas de una opción)</label>
                    {{ form.zurdo | as_crispy_field }}
                    {{ form.enfermedad_celiaca | as_crispy_field }}
                    {{ form.talla_baja | as_crispy_field }}
                    {{ form.is_not | as_crispy_field }}
                </div>
<!----Seccion 9 Salud-->
                <h2>Salud</h2>
                <div class="form-group">
                    <label class="pb-2">Tipo de sangre</label>
                    {{ form.tiposangre | as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.otro_sangre | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Tienes alguna enfermedad? Si la respuesta es "Si", especifica ¿Cuál? y si, ¿Aún esta activa?</label>
                    {{ form.enfermedad_salud | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Específica que alergia padeces, en caso de tenerla? </label>
                    {{ form.alergias | as_crispy_field }}
                </div>
<!----Seccion 10 Salud-->
                <h2>Adicciones</h2>
                <div class="form-group">
                    <label class="pb-2">¿Fumas?</label>
                    {{ form.smoke | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Si la respuesta es si, qué es lo que fumas?</label>
                    {{ form.w_smoke | as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.other_smoke | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">Si la respuesta es si, ¿Cuántas dosis al día?</label>
                    {{ form.t_smoke | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Consumes bebidas con alcohol?</label>
                    {{ form.drinks_alcohol | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">Si la respuesta es si, ¿Con qué frecuencia?</label>
                    {{ form.t_alcohol | as_crispy_field }}
                </div>
<!----Seccion 11 Salud mental-->
                <h2>Salud mental</h2>
                <p>En los últimos 30 días, ¿Cuántas veces has tenido lo siguiente? </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nunca</th>
                            <th>Algunas Veces</th>
                            <th>Frecuentemente</th>
                            <th>Casi Siempre</th>
                            <th>Siempre</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Dificultades para conciliar el sueño</td>
                            {% for radio in form.suenio %}
                            <td>{{radio.tag}}</td>
                                {% endfor %}
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td>Cansancio o fatiga que te impiden realizar algunas actividades</td>
                            {% for radio in form.cansancio %}
                            <td>{{radio.tag}}</td>
                                {% endfor %}
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td>Miedos incontrolables o fobias a objetos, personas o situaciones</td>
                            {% for radio in form.fobias %}
                            <td>{{radio.tag}}</td>
                                {% endfor %}
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td>Irritación o mal humor</td>
                            {% for radio in form.irritacion %}
                            <td>{{radio.tag}}</td>
                            {% endfor %}
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td>Ansiedad o angustia generalizada que te impide concentrarte</td>
                            {% for radio in form.ansiedad %}
                            <td>{{radio.tag}}</td>
                            {% endfor %}
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td>Motivación para hacer tus actividades cotidianas</td>
                            {% for radio in form.motivacion %}
                            <td>{{radio.tag}}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>Pensamientos sobre quitarte la vida</td>
                            {% for radio in form.pensamientos %}
                            <td>{{radio.tag}}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>Experimento tristeza</td>
                            {% for radio in form.tristeza %}
                            <td>{{radio.tag}}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>En general, me siento feliz</td>
                            {% for radio in form.felicidad %}
                            <td>{{radio.tag}}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <label class="pb-2">¿Acudes a terapia a psicológica o tratamiento psiquiátrico?</label>
                    {{ form.terapia | as_crispy_field }}
                </div>
<!----Seccion 12 Acceso a las Tics-->
                <h2>Acceso a las TIC's</h2>
                <div class="form-group">
                    <label class="pb-2">Señala si cuentas con alguno(s) de los siguientes dispositivos (puedes seleccionar más de una opción)</label>
                    {{ form.pc | as_crispy_field }}
                    {{ form.telefono | as_crispy_field }}
                    {{ form.tableta | as_crispy_field }}
                    {{ form.ninguno | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Cuentas con internet propio?</label>
                    {{ form.internet | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿En que lugares estudias normalmente?</label>
                    {{ form.lugar_estudio | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Cuántas horas a la semana le dedicas a las actividades académicas de CUCEi, no consideres las horas clases?</label>
                    {{ form.horas | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Cuántas materias registraste en el semestre?</label>
                    {{ form.nmaterias | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Cuál es la suma de horas clase que tienes a la semana?</label>
                    {{ form.horasclases | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Cuántas horas libres tienes a la semana entre las clases de tu horario?</label>
                    {{ form.horaslibres | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Conoces el perfil de egreso de tu programa educativo?</label>
                    {{ form.perfil | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Conoces la malla curricular de tu programa educativo?</label>
                    {{ form.malla | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Sabes que materias llevan pre-requisito en tu malla curricular?</label>
                    {{ form.materias_pre | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Cuál es tu estilo de aprendizaje? Si tienes dudas respecto a tu estilo de aprendizaje,<a href = "https://blogs.unitec.mx/vida-universitaria/estilos-de-aprendizaje-visual-auditivo-y-kinestesico-cual-eres/" >consulta aqui</a></label>
                    {{ form.estilos_aprendizaje | as_crispy_field }}
                </div>

<!----Seccion 13 Emprendimiento-->
                <h2>Emprendimiento</h2>
                <div class="form-group">
                    <label class="pb-2">¿Tienes alguna idea o proyecto de emprendimieto?</label>
                    {{ form.is_emprendimiento | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Te interesa emprender?</label>
                    {{ form.is_interesting | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">Si respondiste ""si"" a la pregunta anterior, por favor, selecciona la opcion de acuerdo con tu situación</label>
                    {{ form.if_option | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Conoces las herramientas que la U de G ofrece para desarrollar y dar seguimiento a tu emprendimiento?</label>
                    {{ form.tools_udg | as_crispy_field }}
                </div>
                <div class="form-group">
                    <label class="pb-2">¿Te interesaria formar parte de alguna comunidad de emprendimiento para seguir desarrollando tus habilidades?</label>
                    {{ form.is_community | as_crispy_field }}
                </div>


                <div class="form-group d-flex justify-content-center">
                    <input type="reset" value="Cancelar" class="btn btn-secondary">
                    &nbsp;
                    <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
                </div>
            </form>
            {{ mensaje }}
        </div>
    </div>
</div>


{% endblock %}